body, html {
	width: 100%;
	height: 100%;
}
#img {
	margin: -10px
}

h1,h2 {
	color:red;
	font-family: Arial
}

h3 {
	color: orange;
	text-align: center;
	font-size: 1.3em;
}

a:link{
	color:lime;
}
a:hover {
	color:red;
}

a:active {
	font-size: 1.5em;
}
/*Лабораторная №2*/
table {
	border-collapse: collapse;
	text-align: center;
	table-layout: fixed;
}
tr,td {
	background: lightgray;
	border: 1px solid;
}
#td1 {
	background-color: #ffff99;
}
#img1 {
	width: 50%;
}
#ltr {
	padding: 0px;
}
#textar {
		width: 50%;
}

@media screen and (max-width: 550px) {
	table {
		width: 80%;
	 	}
	#img1 {
		width: 80%;
	}
	#td1 {
		word-wrap: break-word;
	}
	#textar {
		width: 80%;
		font-size: 1.2em;
	}
}
@media screen and (max-width: 340px) {
	body {
		font-size: 10px;
	}
	table {
		width: 100%;
	 }
	#img1 {
		width: 100%;
	}
	#td1 {
		word-wrap: break-word;
	}
	#textar {
		width: 100%;
		font-size: 1.2em;
	}
}

@media screen and (max-width: 235px) {
	body {
		font-size: 5px;
	}
	 #td1 {
		font-size: 2.5em;
		word-wrap: break-word;
		padding-left: 5%;
	}
	 #ltr {
		font-size: 1.5em;
		margin: 0px;
	}
	#img1 {
		width:100%; 
		font-size: 5px;

	}
}

@media screen and (max-device-width: 254px) {
	body{
		font-size: 7px;
	}
 	h1 {
 		padding: -10px;
 		margin: -10px;
 		text-align: left;
 		color: black;
 	}
}

@media screen and (max-device-width: 165px) {
	body{
		margin-left: -350px;
		font-size: 5px;
	}
