body, html {
	width: 100%;
	height: 100%;
}
#img {
	margin: -10px
}

h1,h2 {
	color:red;
	font-family: Arial
}

h3 {
	color: orange;
	text-align: center;
	font-size: 1.3em;
}

a:link{
	color:lime;
}
a:hover {
	color:red;
}

a:active {
	font-size: 1.5em;
}

@media screen and (max-width: 340px) {
	body {
		font-size: 10px;
	}
}

@media screen and (max-width: 235px) {
	body {
		font-size: 5px;
	}
}

@media screen and (max-device-width: 254px) {
	body{
		font-size: 7px;
	}
 	h1 {
 		padding: -10px;
 		margin: -10px;
 		text-align: left;
 		color: black;
 	}
}

@media screen and (max-device-width: 165px) {
	body{
		margin-left: -350px;
		font-size: 5px;
	}
